@import 'setup';
@import 'variables';

html {
	font-size: 10px;
}

body {
	font-family: $bodyFont;
	font-size: 2.5rem;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color:black;
}

.hidden {
	display: none;
}

.wrapper {
	width:60%;
	margin:0 auto;
	max-width: 1200px;
}

header {
	text-align: center;
	h1 {
		font-family: $headingFont;
		font-size: 9rem;
		margin-bottom: 0.5rem;
	}
	h2 {
		margin-top: 1.5rem;
	}
}

form {
	text-align: center;
	.numParaSelect, .sizeParaSelect {
		margin-top: 2rem;
		margin-bottom:2rem;
		label {
			margin-right: 1rem;
		}
	}
	input[type='submit'] {
		background-color:tomato;
		border:none;
		padding:1rem;
		margin-top: 3rem;
	}
}

.ipsumResult {
	text-align: center;
}

footer {
	text-align: center;
	font-size: 1.8rem;
	margin-top: 4rem;
}
